<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Coin</title>
</head>
<body>
    <div class="container mt-5">
        <div class="col-sm-3">
            <div th:each="elem : ${list}" class="alert alert-info mt-2">
                <p th:text="${elem.id}">
                <p th:text="${elem.symbol}">
                <p th:text="${elem.price_usd}">
                <div>
                    <a th:href="'/coin/' + ${elem.id}" class="btn btn-warning">
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Обновить</button>
                        </div>
                    </a>
                </div>
                <div>
                    <a th:href="'/'" class="btn btn-warning">
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Вернуться</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>